.error {
  background: #c51244 !important;
  padding: 10px !important;
  border-radius: 0 !important;
  position: relative; 
  display: inline-block !important;
  box-shadow: 1px 1px 1px #aaaaaa;
  margin-top: 10px;
  color: white;
  width: 100%;
}

tr.htmx-swapping td {
  opacity: 0;
  transition: opacity 1s ease-out;
}
