---
import Layout from '@layouts/Layout.astro'
import { getContacts } from '@lib/pocketbase'

const q = Astro.url.searchParams.get('search')
const page = +Astro.url.searchParams.get('page') || 1
const limit = 10

const contacts = await getContacts({ q, limit, page })

---

<Layout>
  <form action='/contacts' >
    <input
      id='search'
      type='search'
      name='q'
      value={q}
      placeholder="Search Contacts"
      hx-post=`/contacts/partials/contact-rows/?page=${page}`
      hx-trigger="input changed delay:500ms, keyup[key=='Enter'], load"
      hx-target="#search-results"
      hx-indicator=".htmx-indicator">
    <img 
      style="height: 20px" 
      id="spinner" 
      class="htmx-indicator" 
      src="/static/img/spinning-circles.svg"/>
    <input type='submit' value='Search' />
  </form>

  <table>
    <thead>
      <tr>
        <th>First</th>
        <th>Last</th>
        <th>Phone</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="search-results">
     
    </tbody>
  </table>
  <p>
    <a href='/contacts/new'>Add Contact</a>
    <span 
      hx-get="/contacts/partials/count" 
      hx-indicator="#spinner"
      hx-trigger="revealed">
      <img id="spinner" 
        class="htmx-indicator"
        src="/static/img/spinning-circles.svg"/> 
    </span>
  </p>
</Layout>
