---
import "@styles/global.css"
import Layout from "@layouts/Layout.astro"
---
<Layout>
    <h1>DryStack</h1>
    <p>Dry stack stone is a system of arranging stones that do not require cement or material to join the stones together</p>
    <p>Likewise, this framework arranges great technologies without complexity, 
        inspired by <a href="https://ahastack.dev">AHA Stack</a>    
    </p>
    <p>The <a href="/posts/">Tutorials</a> describe how HTMX was implemened following this guide:
        <a href="https://hypermedia.systems/book/contents/">Hypermedia Systems</a> and 
        how all these technologies were used to build and deploy this application.</p>

    <table>
        <thead>
          <tr>
            <th scope="col">Technology</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><a href="https://pocketbase.io/">Pocketbase</a></th>
            <td>Open source backend</td>
          </tr>
          <tr>
            <th scope="row"><a href="https://astro.build/">Astro</a></th>
            <td>The web framework for content-driven websites</td>
          </tr>
          <tr>
            <th scope="row"><a href="https://picocss.com/">PicoCSS</a></th>
            <td>Minimal CSS Framework for Semantic HTML</td>
          </tr>
          <tr>
            <th scope="row"><a href="https://alpinejs.dev/">Alpine</a></th>
            <td>Your new, lightweight, JavaScript framework.</td>
          </tr>
          <tr>
            <th scope="row"><a href="https://htmx.org/">HTMX</a></th>
            <td>High power tools for HTMLX</td>
          </tr>
          <tr>
            <th scope="row"><a href="https://fly.io">Fly</a></th>
            <td>A Public Cloud Built For Developers Who Ship</td>
          </tr>
          <tr>
            <th scope="row"><a href="pockethost.io">Pockethost</a></th>
            <td>Amazingly Simple PocketBase Hosting</td>
          </tr>
        </tbody>
      </table>
</Layout>