---
import "@styles/global.css"
import Layout from "@layouts/Layout.astro"
---
<Layout>
    <h1>AHA Stack Example</h1>
    <p>This website was created to learn the AHA stack
    See <a href="https://ahastack.dev">https://ahastack.dev</a>
    <p>The following technologies are used</p>
    <ul>
        <li><a href="https://pocketbase.io/">Pocketbase</a></li>
        <li><a href="https://astro.build/">Astro</a></li>
        <li><a href="https://picocss.com/">PicoCSS</a></li>
        <li><a href="https://alpinejs.dev/">Alpine</a></li>
        <li><a href="https://htmx.org/">HTMX</a></li>
    </ul>
    <p>I think these technologies together could be called
        <strong>PAPAH</strong> - Pocketbase | Astro | PicoCSS | Alpine | HTMX  
    </p>
<p>The <a href="/posts/">Tutorials</a> will walk through how the following book 
    was implemented with the above technologies
    <a href="https://hypermedia.systems/book/contents/">Hypermedia Systems</a>
</p>

<p
</Layout>