---
import { Image } from "astro:assets";
import githubImage from "../assets/github-mark.png";
---

<a href="https://github.com/bartonhammond/aha-htmx-tutorial" target="_blank">
  <Image src={githubImage} height="25" height="25" alt="github" />
</a>
