---
import Home from "@components/Home.astro";
import Tutorials from "@components/Tutorials.astro";
import Contacts from "@components/Contacts.astro";
import ArchiveHTMX from "@components/ArchiveHTMX.astro";
import ThemeIcon from "@components/ThemeIcon.astro";
import Github from "./Github.astro";
---

<header>
  <nav>
    <ul>
      <li>
        <Home />
      </li>
    </ul>
    <ul>
      <li>
        <Tutorials />
      </li>
      <li>
        <Contacts />
      </li>
      <li>
        <ArchiveHTMX />
      </li>
      <li>
        <Github />
      </li>
      <li>
        <ThemeIcon />
      </li>
    </ul>
  </nav>
  <hr />
</header>
