---
import ArchiveHTMX from "@components/ArchiveHTMX.astro";
import ThemeIcon from "@components/ThemeIcon.astro";
---

<header>
  <nav>
    <ul>
      <li><strong>Contacts</strong></li>
    </ul>
    <ul>
      <li>
        <ArchiveHTMX />
      </li>
      <li>
        <ThemeIcon />
      </li>
    </ul>
  </nav>
  <hr />
</header>
