---
import ThemeIcon from "@components/ThemeIcon.astro";
---
<header>
    <nav>
        <ul>
            <li><strong>Contacts</strong></li>
        </ul>
        <ul>
            <li>
                <ThemeIcon />
            </li>
        </ul>
    </nav>
    <hr />
</header>
